* {
    font-size:50px;
    background-color:rgb(202, 241, 234);
}
div {
    padding-top:10px;
    padding-bottom:10px;
    transition:.5s;
    cursor:crosshair;
}
div:hover {
    opacity:.7;
}
div.age {
    display:block;
    margin:0;
    background:yellow;
    position:relative;
    top:10%;
    left:50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width:100%;
    text-align:center;
}
select#age {
    border-color:indianred;
    border-width:5px;
    font-size:25px;
}
div.height {
    margin:0;
    display:block;
    position:relative;
    top:11%;
    left:50%;
    margin-right:-50%;
    transform: translate(-50%, -50%);
    width:100%;
    text-align:center;
    background-color:orange;   
}
select#heightft {
    border-color:indianred;
    border-width:5px;
    font-size:25px;
}
select#heightin {
    border-color:indianred;
    border-width:5px;
    font-size:25px;
}
div.sweat {
    display:block;
    margin:0;
    background:pink;
    position:relative;
    top:12%;
    left:50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width:100%;
    text-align:center;

}
select#sweat {
    border-color:indianred;
    border-width:5px;
    font-size:25px;
}
div.energy {
    display:block;
    margin:0;
    background:turquoise;
    position:relative;
    top:13%;
    left:50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width:100%;
    text-align:center;
}
select#energy {
    border-color:indianred;
    border-width:5px;
    font-size:25px;
}
div.weight {
    display:block;
    margin:0;
    background:purple;
    position:relative;
    top:14%;
    left:50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width:100%;
    text-align:center;
}
select#weight {
    border-color:indianred;
    border-width:5px;
    font-size:25px;
}
.button {
    background-color:transparent;
    position:relative;
    top:10%;
    height:10%;
}
button {
    color:green;
    background-color:yellow;
    border-color:red;
    border-width:2px;
    transition:.5s;
    position:absolute;
    top:50%;
    left:50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width:25%;
    font-size:35px;
    cursor:pointer;
}
button:hover, button:focus {
    color:white;
    background-color:black;
    border:hidden;
}
#water {
    background-color:transparent;
    font-size:30px;
    text-align:center;
    position:relative;
}
.header {
    width:100%;
}
#image {
    display:block;
    margin-left:auto;
    margin-right:auto;
    position:absolute;
}
.header {
    height:35px;
    text-align:center;
}
select {
    cursor:pointer;
}